* text=auto
*.java text eol=lf
*.gradle text eol=lf
*.md text eol=lf
*.xml text eol=lf
*.properties text eol=lf
*.ps1 text eol=lf
*.py text eol=lf
gradlew text eol=lf
*.bat text eol=crlf
*.png binary
*.jar binary
